<table class="pageunderbanner" style="margin-top: 100px">
    <tr>
        <th>

        </th>
        <th>
            <div class="searcharea" role="search">
                <span>
                    Search:<input type="text" name="searchBox" [(ngModel)]="searchText" />
                    <button (click)='SearchButtonClick()'>Search</button>
                    <div class="usererror" *ngIf='errorMessage$|async'>{{errorMessage$}}</div>
                </span>
            </div>
        </th>
    </tr>
    <tr>
        <td class="leftsidebar">
            <div>
                <category-selector *ngIf='categories?.length' #categorySelector [category]='categories[0]'
                    [categories]='categories'></category-selector>
            </div>
        </td>
        <td>
            <div *ngIf="searchResults$ | async as searchResults">
                <div *ngIf="searchResults.length==0">
                    No Results
                </div>
                <div class="table-responsive" *ngIf="searchResults.length > 0">
                    <table class='table mb-0'>
                        <tbody>
                            <tr *ngFor='let item of searchResults'>
                                <td>
                                    <img [src]="item.imageUrls[0]" [title]="item.title" [style.width.px]="imageWidth"
                                        [style.margin.px]="imageMargin" />
                                </td>
                                <td>
                                    <a [routerLink]="['/saleitems',{id:item.id}]">{{item.title}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>