<div class="table-responsive">
    <table class='table mb-0  pageunderbanner' *ngIf='currentItem'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Created</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{currentItem.title}}
                </td>
                <td>{{currentItem.description}}</td>
                <td>{{currentItem.price}}</td>
                <td>{{currentItem.category}}</td>
                <td>{{currentItem.quantity}}</td>
                <td>
                    <img src='{{currentImageUrl}}' title="item.title" style.width.px="{{imageWidth}}"
                        style.margin.px="imageMargin" />
                </td>
                <td>
                    <div *ngIf="currentItem.imageUrls.length > 1">
                        <ul class="thumbnaillist">
                            <li *ngFor="let url in currentItem.imageUrls">
                                <a [href]="url" (click)='thumbnail_click($event)'>
                                    <img [src]="url" [title]="item.title" [style.width.px]="thumbNailWidth"
                                        [style.margin.px]="thumbNailMargin" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    Contact Seller
</div>